body {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 100vh;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	margin: 10px;
	background-color: white;
	color: black;
	cursor: pointer;
}

canvas {
	display: block;
}

#container {
	width: 100vw;
	height: 100vh;
}

.color-picker-wrapper {
	position: absolute;
	/* width: 100vw;
	height: 100vh; */
	top: 120px;
	left: 20px;
	z-index: -1;
}

.color-picker-wrapper.active{
	z-index: 2;
}

/* Top bar menu styles */
.top-bar {
	background-color: black;
	color: white;
	height: 50px;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	z-index: 1;
}

.title-container {
    display: flex;
    align-items: center;
}

.title {
	font-size: 22px;
	font-weight: 500;
	margin: 0;
	display: flex;
	align-items: center;
	letter-spacing: 2px!important;
	color : white;
}

.logo {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.logo2 {
	width: 50px;
	height: 50px;
	margin-right: 30px;
}

.canvas-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Adjust the height of the overlay as needed */
    background-color: rgba(10, 10, 10, 10); /* Adjust the background color and opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.canvas-overlay p {
    margin: 0;
    font-size: 12px; /* Adjust the font size as needed */
    font-weight: 200;
    color: #FFFFFF; /* Set the text color */
}

.bold-text p {
	font-weight: 500;
}

.custom-link{
    font-weight: 500;
    color: #00eeff;
	text-decoration: none; 
}
.custom-link:hover {
    text-decoration: underline; /* Add an underline on hover */
}
.instructions{
    font-weight: 500;
    color: #2200ff!important;
	text-decoration: none; 
}

#dropArea {
	width: 30%;
	height: 50px;
	border: 1px dashed #999999;
	text-align: center;
	padding: 20px;
	margin-bottom: 175px;
  }

  #dropArea:hover {
	/* Add styles for the on-hover effect */
	border: 2px dashed #ccc!important;/* For example, change the border color to yellow */
	background-color:rgb(10, 10, 10, 0.5); /* Add any other styles you want to apply on hover */
  }
  
  .dragging {
	border-color: #00ff99;
  }
  
  .canvas-overlay-drop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Adjust the height of the overlay as needed */
    background-color: rgba(10, 10, 10, 10); /* Adjust the background color and opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	color: white;
}

.color-picker-wrapper {
	position: absolute;
	/* width: 100vw;
	height: 100vh; */
	top: 120px;
	left: 20px;
	z-index: -1;
}

.top-bar-controls {
    background-color: rgb(18, 18, 18);
	font-family: 'Roboto', sans-serif;
	font-size: small;
    color: white;
    height: 10px; /* Adjusted height */
    width: 100vw;
    position: absolute;
    top: 0px; /* Adjusted top value */
    left: 0;
	display: flex; /* Enable Flexbox */
    align-items: center; /* Center vertically */
    padding: 10px;
    z-index: 0;
}

